<html>
<head>
  <title>Rabbit Ears Movie Showtimes</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/angularApp.js"></script>
</head>
<body ng-app="rabbitTv", ng-controller="MainCtrl">
  <div class="row">
    <div class="small-12 large-6 columns">
      <div class="panel">
        <h4>Movies tonight for {{zipcode}}</h4>
      </div>
      <div class="panel clearfix">
        <a href="#" class="button round left">Now</a>
        <a href="#" class="button round right">Primetime</a>
      </div>
    </div>
  </div>
  <div class="small-12 large-6 columns">
    <div ng-repeat="movie in movies | orderBy: 'releaseDate'" class="panel">
      <div class="gridtime row">
        <div class="small-3 medium-3 large-3 columns">
          <p class="large">{{movie.title}}</p>
        </div>
        <div class="small-9 medium-9 large-9 columns">
          <div ng-repeat="showing in movie.showtimes">
            <div class="row">
              <p>{{showing.theatre}} - {{showing.time | date :"hh:mm a"}}</p>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>

</body>
</html>