<html>
<head>
  <title>Rabbit Ears Movie Showtimes</title>
  <script src="/javascripts/angular.js"></script>
  <script src="/javascripts/angular-resource.js"></script>
  <script src="/javascripts/vendor/modernizr.js"></script>
  <link rel="stylesheet" href="/stylesheets/foundation.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/angularApp.js"></script>
</head>
<body ng-app="rabbitTv", ng-controller="MainCtrl">
  <div class="row">
    <div class="small-12 large-6 columns">
      <div class="panel">
        <h4>Movies tonight for {{zipcode}}</h4>
      </div>
      <div class="panel clearfix">
        <a href="#" class="button round left">Now</a>
        <a href="#" class="button round right">Primetime</a>
      </div>
    </div>
  </div>
  <div class="small-12 large-6 columns">
    <dl class="accordion" data-accordion>
      <dd ng-repeat="movie in movies | orderBy: 'releaseDate'" class="accordion-navigation">
        <a href="#{{movie.id}}_panel">{{movie.title}}</a>
        <div id="{{movie.id}}_panel" class="content clearfix">
          <div class="large-12 columns">
            <div ng-repeat="showing in movie.showtimes" class="row">
                <p>{{showing.theatre}} - {{showing.time | date :"hh:mm a"}}</p>
            </div>
           </div>
        </div>
      </dd>
    </dl>
  </div>
<script src="/javascripts/vendor/jquery.js"></script>
<script src="/javascripts/vendor/fastclick.js"></script>
<script src="/javascripts/foundation/foundation.js"></script>
<script src="/javascripts/foundation/foundation.accordion.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>